body {
  font-family: "Roboto";
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #F7F7F7;
  }

  .logo-name{
    display: flex;
    align-items: center;
  }
}

.container {
  margin-top: 2rem;
}

.item-card {
  height: 400px;

  .item-image {
    height: 240px;
  }

  .MuiCardContent-root {
    max-height: 100px;
  }

  .item-description {
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

a {
  text-decoration: none;
}

.banner {
  max-width: 100%;
}

.bolt {
  font-size: large;
  font-weight: bold;
}

